[submodule "vendor/proto3-suite"]
	path = vendor/proto3-suite
	url = https://github.com/joshvera/proto3-suite.git
[submodule "vendor/proto3-wire"]
	path = vendor/proto3-wire
	url = https://github.com/joshvera/proto3-wire.git
