# Use new container infrastructure to enable caching
sudo: required

# Do not choose a language; we provide our own build tools.
language: generic

services:
  - docker

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev

before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
- stack docker pull

# install:
# # Build dependencies
# - stack --no-terminal --install-ghc test --only-dependencies --fast --extra-lib-dirs=/usr/local/lib

script:
# Build the package, its tests, and its docs and run the tests
- stack build --docker grpc-haskell-core:tests grpc-haskell:tests --fast --extra-lib-dirs=/usr/local/lib
